body {
  font-family: "Courier", monospace;
  background: #d3dcd5;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: dark grey;
  
}
#review {
  color: red;
}
#imgreview {
    border-radius: 10px;
    background-color: #4e4c4c;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
