body {
    font-family: "Inter",sans-serif;
    background: milk;
    padding: 0 24px;
    margin: 0;
    height: 100vh;
    color: slategrey;
    
  }
  #review {
    color: rgb(29, 247, 47);
    align-items: center;
    margin-top: 100px;
  }
  #imgreview {
    border-radius: 10px;
    background-color: #4e4c4c;
    border-color: transparent;
    border-style: solid;
    align-items: center;
    margin-left: 530px;
  }
  .column {
    position: absolute;
    width: 390px;
    background-color: rgb(29, 247, 47);
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: bold;

    

  }
    .left {
        left:900px;
        text-align: center;
    }
    
    .image-container p {
        position: relative;
        top: 0;
    }
    
.middle{
    left:100px;
    text-align: center;
}

    .image-container p {
        position: relative;
        top: 0;}
.right {
    left:530px;
    width: 330px;
    text-align: center;
}
.image-container p {
    position: relative;
    top: 0;}

h1 {
    align-items: center;  
    margin-left: 500px;
    font-family: "Lemon Tuesday",sans-serif;
}
.cover {
    align-items: center;  
    margin-left: 100px;
}
.image-container {
    position: relative;
}
.image-container h1 {
    position: absolute;
    top: 0;
    
}
.icon {
    position: absolute;
    width: 150px;
    
    
    
}
.first {
    
    left: 100px;
    
}
.second {
    left: 300px;
}
h2 {
    text-align: center;  
   
    color: rgb(29, 247, 47);

    

}
.info {
padding-top: 700px;
}
#imginfo {
    background-color: #4e4c4c;
    border-color: transparent;
    border-style: solid;
    margin-left: 150px;
    
}
#infotext {
    background-color:white;
    border-color: transparent;
    border-style: solid;
    float:right;
    margin-right: 250px;
    margin-top: 80px;

    
}
.contact {
    border-bottom: 4px slategrey solid;
    padding: 5%;
    
}
